.background {
  &:after {
    content: '';
    width: 72.1875rem;
    left: calc(50% - 30rem);
    opacity: 0.2;
    clip-path: polygon(
      74.1% 44.1%,
      100% 61.6%,
      97.5% 26.9%,
      85.5% 0.1%,
      80.7% 2%,
      72.5% 32.5%,
      60.2% 62.4%,
      52.4% 68.1%,
      47.5% 58.3%,
      45.2% 34.5%,
      27.5% 76.7%,
      0.1% 64.9%,
      17.9% 100%,
      27.6% 76.8%,
      76.1% 97.7%,
      74.1% 44.1%
    );
    @apply absolute h-[30rem] blur-3xl rotate-[30deg] from-[#ff80b5] to-[#9089fc] -translate-x-1/2 aspect-[1155/678] bg-gradient-to-tr transform-gpu;
  }

  @apply absolute inset-x-0 blur-3xl -top-80 -z-50;
}
