@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  @apply flex flex-col bg-gray-900 text-white bg-gradient-to-br h-dvh max-w-[100vw] overflow-x-hidden;
}

#root {
  @apply flex flex-1 flex-col;
}
